.popular-goods {
    max-width: 1150px;
    min-height: 630px;
    background: url('../img/background-for-4-section.png') no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    position: relative;
    .popular-items {
        color: #0D386B;
        font-size: 24px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        padding-top: 40px;
    }
    .stamps {
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 999;
    }
    .first{
        display: grid;
        grid-template-columns: 200px;
        grid-template-rows: 50px 30px 30px;
        justify-content: space-around;
        width: 300px;
        height: 150px;
        background: #FFFFFF;
        border-radius: 12px;
        position: absolute;
        top: 23em;
        left: 23px;
        .sub, .sub2 {
            color: #979797;
            font-size: 14px;
        }

    }
    .automatic-stamp {
        display: grid;
        grid-template-columns: 200px;
        grid-template-rows: 70px 30px 30px;
        justify-content: space-around;
        width: 350px;
        height: 150px;
        background: #FFFFFF;
        border-radius: 12px;
        position: absolute;
        top: 14em;
        left: 38em;
        .sub, .sub2 {
            color: #979797;
            font-size: 14px;
        }
    }
    .second {
        display: grid;
        grid-template-columns: 200px;
        grid-template-rows: 50px 30px 30px;
        justify-content: space-around;
        width: 320px;
        height: 150px;
        background: #FFFFFF;
        border-radius: 12px;
        position: absolute;
        top: 26em;
        left: 47em;
        .sub, .sub2 {
            color: #979797;
            font-size: 14px;
        }
    }
    .automatic, .pocket {
        color: #0D386B;
        font-size: 24px;
        margin-top: 10px;
    }
}